$colorBlue: #183C65;
$colorWhite: #F1F3F5;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 31, 64, 0.9);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(256, 256, 256, 0.6) !important;
  border-radius: 3px;
}

html body {
  font-family: 'Nunito', sans-serif;
}

.kyani-nav {
  height: 80px;
  background-color: $colorWhite;
  padding-left: 38px;
  padding-right: 38px;

  .navbar-nav {
	font-size: 16px;

	.nav-item {
	  align-self: center;
	  .nav-link {
		color: #183C65;
		font-weight: 600;
		letter-spacing: 0.02em;
		padding-left: 12px;
		padding-right: 12px;

		&.dropdown-toggle::after {
		  border: none;
		  font: normal normal normal 13px/1 FontAwesome;
		  font-weight: 200;
		  content: "\f078";
		  vertical-align: 0;
		  margin-left: 5px;
		  z-index: 9999;
		}
	  }

	  .dropdown-menu {
		background-color: #F1F3F5;
		opacity: 0.85;
		top: 55px;
		border-radius: 0;
		min-width: 300px;
		overflow-x: hidden;
		max-height: 440px;
		z-index: 9999;
		padding: 0;

		.dropdown-header {
		  color: #183C65;
		  font-weight: bold;
		  font-size: 12px;
		  text-transform: uppercase;
		}

		.dropdown-divider {
		  border-top: 1px solid rgba(221, 221, 221, 0.2);
		  margin: 0;
		}

		.dropdown-item {
		  color: #183C65;
		  font-size: 14px;
		  max-height: 40px;
		  min-height: 40px;
		  display: flex;
		  align-items: center;

		  &:hover {
			background-color: rgba(255, 255, 255, 0.05);
		  }

		  .nav-country-flag {
			margin-right: 12px;
		  }

		}

		.nav-item {

		  .nav-submenu-dropdown-button {
			color: #183C65;
			min-height: 40px;
			max-height: 40px;
			position: absolute;
			right: 0;
			top: 0;
			width: 45px;
			text-align: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid rgba(255, 255, 255, 0.05);
			font-size: 13px;

			&:hover {
			  background-color: rgba(255, 255, 255, 0.05);
			}
		  }

		  .nav-link {
			font-size: 12px;
			max-height: 40px;
			min-height: 40px;
			display: flex;
			align-items: center;
			padding: .25rem 1.5rem;
			border-top: 1px solid rgba(255, 255, 255, 0.05);
			border-bottom: 1px solid rgba(255, 255, 255, 0.05);

			&:hover {
			  background-color: rgba(255, 255, 255, 0.05);
			  color: white;
			}
		  }

		  .dropdown-toggle.nav-link {
			border-top: 1px solid rgba(221, 221, 221, 0.2);
		  }

		  .dropdown-menu {
			position: relative;
			padding: 0;
			background: none;
			margin: 0;

			.nav-item {
			  .dropdown-item {
				font-weight: normal;
				font-size: 14px;
				display: flex;
				align-items: center;
				padding-left: 2.5rem;
			  }
			}
		  }
		}
	  }
	}
  }
}


#countries {
  max-height: 350px;
}

.main-menu {
  width: 22vw;
  height: 100%;
  opacity: 0;
  //visibility: hidden;
  position: fixed;
  right: 0;
  overflow-x: hidden;
  margin-top: 80px;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: -webkit-transform .75s, opacity .75s linear 0s;
  transition: transform .75s, opacity .75s linear 0s;

  @media screen and (max-width: 960px) {
	width: 90vw;
  }
}


@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler {
	display: block;
  }
}


.nav-open .main-menu {
  opacity: 1;
  //visibility: visible;
  background: #F1F3F5;
  z-index: 999;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  //-webkit-transition: -webkit-transform .75s, opacity .75s linear;
  //transition: transform .75s, opacity .75s linear;
}

@media (min-width: 768px) {
  .mobile-only {
	display: none !important;
  }
}

@media (max-width: 767px) {
  .desktop-only {
	display: none !important;
  }
}


.main-menu .nav li a {
  color: #183C65;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;

  &.dropdown-toggle::after {
	border: none;
	font: normal normal normal 13px/1 FontAwesome;
	font-weight: 200;
	content: "\f078";
	vertical-align: 0;
	margin-left: 5px;
  }
}

.main-menu .nav li {
  opacity: 0;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-animation-timing-function: cubic-bezier(1, 1, 0, 1);
  -moz-animation-timing-function: cubic-bezier(1, 1, 0, 1);
  -o-animation-timing-function: cubic-bezier(1, 1, 0, 1);
  animation-timing-function: cubic-bezier(1, 1, 0, 1);
}

.nav-open .main-menu .nav li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
}

.main-menu .nav li.delay-1 {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.main-menu .nav li.delay-2 {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.main-menu .nav li.delay-3 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.main-menu .nav li.delay-4 {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.main-menu .nav li.delay-5 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.main-menu .nav li.delay-6 {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.main-menu .nav li.delay-7 {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  -ms-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.main-menu .nav li.delay-8 {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  -ms-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.main-menu .nav li.delay-9 {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  -ms-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.nav-button {
  position: relative;
  z-index: 1111;
  height: 42px;
  display: block;
  padding: 12px 0;
  border: none;
  margin-left: 12px !important;
}

.nav-button #nav-icon3 {
  width: 24px;
  height: 22px;
  display: inline-block;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-button #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out
}

.nav-button #nav-icon3 span:nth-child(1) {
  top: 0
}

.nav-button #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 7px
}

.nav-button #nav-icon3 span:nth-child(4) {
  top: 14px
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%
}

.main-menu-container {
  display: flex;
  height: 82.5%;
  .nav-item {
	&.show {
	  background-color:#F1F3F5;
	}

	.nav-link {
	  padding: 15px 38px;
	  display: flex;
	  justify-content: space-between;
	  min-height: 50px;
	  max-height: 50px;

	  &:hover {
		background-color: rgba(255, 255, 255, 0.05);
	  }
	}

	.dropdown-menu {
	  padding: 0;
	  overflow-x: hidden;
	  margin: 0;
	  border: none !important;

	  .dropdown-header {
		color: #183C65;
		font-weight: 700;
		font-size: 16px;
	  }

	  .dropdown-item {
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 50px;
		max-height: 50px;
		padding-left: 50px;

		.nav-country-flag {
		  margin-right: 15px;
		}


		&:hover {
		  background-color: rgba(255, 255, 255, 0.05);
		}
	  }

	  .nav-item {
		.nav-submenu-dropdown-button {
		  color: #183C65;
		  min-height: 50px;
		  max-height: 50px;
		  position: absolute;
		  right: 0;
		  top: 0;
		  padding-left: 15px;
		  padding-right: 15px;
		  text-align: center;
		  cursor: pointer;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  font-size: 14px;


		  &:hover {
			background-color: rgba(255, 255, 255, 0.05);
		  }
		}

		.nav-link {
		  padding-left: 50px;
		  min-height: 50px;
		  max-height: 50px;
		}

		.dropdown-menu {
		  margin: 0;

		  .nav-item {
			.dropdown-item {
			  padding-left: 60px;
			  min-height: 50px;
			  max-height: 50px;
			  text-transform: uppercase;
			  font-size: 12px;
			}
		  }
		}
	  }
	}
  }

  .dropdown-menu.show {
	position: static !important;
	transform: none !important;
	background-color: #F1F3F5;
	width: 100%;
	display: flex;
	flex-flow: column;
  }
}

.countrySwitcherMenu {
  height: 72vh;
}

.replicatedDropdown {

  left: 0;
  width: 100%;

  background: white;

  img {
	width: 75%;
  }
}

.nav-replicated {
  padding-left: 15px;

  .nav-sponsor-image {
	width: 50px;
	height: 50px;
	cursor: pointer;
  }
}

